// Commons
.dark {
  background: $dark;
  color: $light;
}

.header-project-detail-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 2rem;
  padding-top: 8rem;

  @include breakpoint($max: 900px) {
    // grid-template-columns: 1fr 3fr;
    grid-column-gap: 3rem;
  }

  @include for-phone-only {
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
    padding-top: 2rem;
  }
  
  .header-project-detail {
    h2 {
      font-size: 1.7rem;
    }

    p {
      font-family: 'Lato', sans-serif !important;
      margin-bottom: 1rem;

      .title {
        font-weight: bold;
      }

      .value {}
    }
  }

  .header-project-detail-image {
    height: 50vh;

    div {
      background: url('/img/works/gc.png');
      background-size: contain;
      position: relative;
      border: 1px solid $dark;
      border-bottom: none;
      height: 100%;
      z-index: 2;

      &:after {
        position: absolute;
        content: ' ';
        border: 1px solid $dark;
        border-bottom: none;
        border-right: none;
        z-index: -1;
        top: -8px;
        left: -8px;  
        width: 100%;
        height: 102.5%;
      }

      &:before {
        position: absolute;
        content: ' ';
        border-right: 1px solid $dark;
        z-index: -1;
        top: -8px;
        left: -8px;  
        width: 100%;
        height: 2.5%;
      }
    }

    @include breakpoint($max: 900px) {
      height: 60vh;
    }
  
    @include for-phone-only {
      height: 35vh;
    }
  }
}

.overview-section {
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.header-title {
  display: inline-block;
  position: relative;
  padding: 0 0 0.9rem;
  margin-bottom: 1.7rem;
  font-weight: 600;
  font-size: 1.2rem;
  width: fit-content;

  &:after {
    content: ' ';
    position: absolute;
    background: $dark;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  &.dark {
    &:after {
      background: $light;
    }
  }
}

.description {
  font-family: 'Lato', sans-serif !important;
  line-height: 1.6rem;
  font-size: 1.15rem;
  margin-bottom: 1.5rem;

  .descripton-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: $light;
    border: 1px solid $dark;
    color: $dark;
    height: 2rem;
    width: 2rem;
    margin-bottom: 1.2rem;

    &:before {
      position: absolute;
      content: ' ';
      border: 1px solid $dark;
      background: #f3f3f3;            
      z-index: -1;
      top: -10px;
      left: -10px;
      width: 100%;
      height: 100%;
    }
  }

  .sub-header {}
}

.description-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  width: 100%;
  margin-bottom: 6rem;

  img {
    max-width: 100%;
  }

  &.type2{
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1rem;

    .eq_h {
      height: 100%;
    }
  }

  @include breakpoint($max: 767px) {
    // grid-template-columns: 1fr 1fr;
  }

  @include for-phone-only {
    grid-template-columns: 1fr;
  }
}

.my-role-section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  p.description {
    margin-bottom: 2rem;
    font-size: 1rem;
  }
}

.design-process-section {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  background: #f3f3f3;

  .header-title {
    margin-bottom: 3rem;
  }

  .description {
    margin-bottom: 6rem;
  }
}

.reflection-section {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.description-action {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;

  a {
    &.active {
      position: relative;

      &:after {
        content: ' ';
        position: absolute;
        background: $dark;
        height: 1px;
        width: 100%;
        bottom: 0;
        left: 0;
      }
    }
  }
}

// GC
.gc {
  header {
    background: #e1b1b1;

    .header-project-detail {
      h2 {
        color: #b23231;
      }
    }
  }

  .sub-header {
    color: #b23231;
  }

  .app-showcase-section {
    background: #f3f3f3;
    padding-bottom: 8rem;
  
    // .admin-tools
    .admin-tools {
      margin-bottom: 6rem;
  
      .showcase-header {
        margin-bottom: 2rem;
      }
    }
  
    // .loyalty-app
    .loyalty-app {
      margin-top: 9rem;
      margin-bottom: 6rem;

      .showcase-header {
        margin-bottom: 2rem;
      }
    }

    .admin-tools-showcase-images-top {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: .8rem;
      margin-bottom: 1rem;
      height: 75vh;

      img {
        width: 100%;
        max-height: 100%;
        min-height: 100%;
        border: 2px solid $dark;
      }

      @include breakpoint($max: 767px) {
        // grid-template-columns: 1fr 1fr;
      }
    
      @include for-phone-only {
        grid-template-columns: 1fr;
        grid-row-gap: .8rem;
        height: 100%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;

        img {
          // max-width: 100%;
          height: 50vh;
        }
      }
    }

    .admin-tools-showcase-images-bottom {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-column-gap: .8rem;
      height: 50vh;
      margin-top: 1rem;

      img {
        width: 100%;
        max-height: 100%;
        min-height: 100%;
        border: 2px solid $dark;
      }

      @include breakpoint($max: 767px) {
        // grid-template-columns: 1fr 1fr;
      }
    
      @include for-phone-only {
        grid-template-columns: 1fr;
        grid-row-gap: .8rem;
        height: 100%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;

        img {
          // max-width: 100%;
          height: 50vh;
        }
      }
    }
  
    // .mobile-app
    .mobile-app {
      margin-top: 6rem;

      .showcase-header {
        margin-bottom: 2rem;
      }

      .mobile-showcase-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
  
        img {
          max-width: 100%;
          border: 2px solid $dark;
        }

        @include breakpoint($max: 767px) {
          grid-template-columns: 1fr 1fr;
        }
      
        @include for-phone-only {
          grid-template-columns: 1fr;
          grid-row-gap: .8rem;
          height: 100%;
          margin-left: 1.5rem;
          margin-right: 1.5rem;
  
          img {
            // max-width: 100%;
          }
        }
      }
    }
  }
}

// FMHB
.fmhb {
  header {
    background: #39291f;

    nav {
      color: $light;

      a {
        &.active {
          &:after {
            background: $light;
          }
        }
    
      }
    }

    .header-project-detail {
      h2 {
        color: $light;
      }

      p {
        color: $light;
      }
    }

    .header-project-detail-image {
      div {
        background: url('/img/works/fmhb.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid $light;
      }
    }
  }
  // .final-mockup
  .final-mockup {
    .showcase-header {
      margin-bottom: 2rem;
      padding-left: 15rem;

      @include breakpoint($max: 767px) {
        // grid-template-columns: 1fr 1fr;
      }
    
      @include for-phone-only {
        padding-left: 1.5rem;
      }
    }
  }

  .sub-header {
    color: #d1001e;
  }

  .header-project-detail-image {
    div {
      &:after {
        border: 1px solid $light;
      }
  
      &:before {
        border-right: 1px solid $light;
      }
    }
  }

  .bag-showcase-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    img {
      max-width: 100%;
      border: 2px solid $dark;

      &.first {
        grid-column: 1 / -1;
        width: 65vw;
        margin-left: 9rem;

        @include breakpoint($max: 767px) {
          // grid-template-columns: 1fr 1fr;
        }
      
        @include for-phone-only {
          margin-left: 3rem;
        }
      }
    }
  }
}

// FXM
.fxm {
  header {
    background: #8e58ff;

    nav {
      color: $light;

      a {
        &.active {
          &:after {
            background: $light;
          }
        }
    
      }
    }

    .header-project-detail-wrapper {
      grid-template-columns: 1fr 3fr;
    }

    .header-project-detail {
      h2 {
        color: $light;
      }

      p {
        color: $light;
      }
    }

    .header-project-detail-image {
      div {
        background: url('/img/fxm/wallet.png');
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid $light;
        position: relative;

        &:after {
          border: 1px solid $light;
          top: -8px;
          left: -8px;
          height: 105%;
        }
    
        &:before {
          border-right: 1px solid $light;
          top: -8px;
          left: -8px;
          height: 2.5%;
        }
      }
    }
  }

  .sub-header {
    color: $light;
  }

  .page {
    &.fxm {
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 4rem;
      font-family: 'Lato', sans-serif;
    }

    .title.short {
      font-weight: 400;
    }

    .subtitle.short {
      span.active {
        display: inline-block;
        padding-bottom: 6px;
        position: relative;

        span {
          color: #9f9f9f;
        }
  
        &:after {
          content: ' ';
          position: absolute;
          background: $dark;
          height: 1px;
          width: 100%;
          bottom: 0;
          left: 0;
        }
      }
    }

  }
}

// LGPAY
.lgpay {
  header {
    background: #6271d2;

    nav {
      color: $light;

      a {
        &.active {
          &:after {
            background: $light;
          }
        }
    
      }
    }

    .header-project-detail-wrapper {
      grid-template-columns: 1fr 3fr;

      @include breakpoint($max: 767px) {
        // grid-template-columns: 1fr 1fr;
      }
    
      @include for-phone-only {
        grid-template-columns: 1fr;
      }
    }

    .header-project-detail {
      h2 {
        color: $light;
      }

      p {
        color: $light;
      }
    }

    .header-project-detail-image {
      div {
        background: url('/img/lgp/lg-pay.png');
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid $light;
        position: relative;

        img {
          position: absolute;
          top: 5.1rem;
          right: -4rem;
          border: 1px solid $light;

          @include breakpoint($max: 767px) {
            // grid-template-columns: 1fr 1fr;
          }
        
          @include for-phone-only {
            display: none;
          }
        }

        &:after {
          border: 1px solid $light;
          top: -8px;
          left: -8px;
          height: 105%;
        }
    
        &:before {
          border-right: 1px solid $light;
          top: -8px;
          left: -8px;
          height: 2.5%;
        }
      }
    }
  }

  .sub-header {
    color: $light;
  }

  .page {
    &.lgpay {
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 4rem;
      font-family: 'Lato', sans-serif;
    }

    .title.short {
      font-weight: 400;
    }

    .subtitle.short {
      span.active {
        display: inline-block;
        padding-bottom: 6px;
        position: relative;

        span {
          color: #9f9f9f;
        }
  
        &:after {
          content: ' ';
          position: absolute;
          background: $dark;
          height: 1px;
          width: 100%;
          bottom: 0;
          left: 0;
        }
      }
    }

  }
}

